@font-face {
    font-family: "Futhark";
    src: url("RUNE.TTF");
}
@font-face {
    font-family: "Norse Bold";
    src: url("Norse-Bold.otf")
}
* {
    margin: 0;
    padding: 0;
}
body {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: gray;
    font-family: "Norse Bold";
    color:gold;
}
hr {
    margin: 1rem;
    border: 2px solid gold;
}
nav {
    width: 18ch;
    padding: 1.5rem 1rem;
    border: 2px solid black;
    background-color: darkseagreen;
    background-image: url("./../images/annie-spratt-L6GydBHMVGQ-unsplash-cropped.jpg");
    background-position: center;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.sign {
    font-family: "Futhark";
}
aside {
    visibility: hidden;
}
main {
    padding: .5rem;
    border: 2px solid black;
    background-image: url("./../images/annie-spratt-L6GydBHMVGQ-unsplash-cropped.jpg");
    background-position: center;
    background-color: darkgray;
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-family: Futhark;
    font-size: 5rem;
    line-height: 5rem;
    font-weight: bolder;
    text-align: center; 
}
main > div {
    height: 5rem;
    width: 5rem;
    border: 1px solid black;
    background-color: seagreen;
    font-size: 2rem;
    font-weight: bolder;
}
main > div:hover {
    background-color: darkseagreen;

}
/* GAME LOGIC related */
.activePlayer {
    color: darkseagreen;
    border: 1px solid green;
}
.fieldDisabled:hover {
    background-color: seagreen;
}
.hidden {
    display: none;
}
#playerA, #playerB {
    margin: 1rem;
    display: grid;
    grid: 1fr / 4fr 1fr;
    gap: 1rem;
}