@font-face {
    font-family: "Futhark";
    src: url("RUNE.TTF");
}
@font-face {
    font-family: "Norse Bold";
    src: url("Norse-Bold.otf")
}
* {
    margin: 0;
    padding: 0;
}
body {
    margin: auto;
    padding: 1rem;
    max-width: 960px;
    background-color: gray;
    background-image: url("./../images/zeke-tucker-0EP4QyCjtgE-unsplash-cropped.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    font-family: "Norse Bold";
    color:white;
}
h1 {
    font-size: 3rem;
    font-weight: bolder;
}
nav {
    padding: .5rem;
    border: 2px solid black;
    background-image: url("./../images/tara-meinczinger-G_yCplAsnB4-unsplash-cropped.jpg");
    background-size: cover;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    font-size: 2.5rem;
    font-weight: bolder;
}
button {
    border: 1px solid black;
    padding: .5rem;
    background-color: seagreen;
    color: white;
    font-size: 1rem;
    font-family: "Norse Bold";
}
aside {
    visibility: hidden;
    font-size: 2rem;
}
main {
    padding: 1rem;
    border: 2px solid black;
    background-image: url("./../images/tara-meinczinger-G_yCplAsnB4-unsplash-cropped.jpg");
    background-size: cover;
    background-position: center;
    background-color: darkgray;
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: .2rem;
    justify-items: center;
    align-items: center;
}
main > div {
    height: 5rem;
    width: 5rem;
    border: 1px solid black;
    background-color: seagreen;
    font-family: Futhark;
    font-size: 2rem;
    font-weight: bolder;
    line-height: 5rem;
    text-align: center; 
}
main > div:hover {
    background-color: darkseagreen;
}
/* GAME LOGIC related */
.activePlayer {
    color: gold;
}
.fieldDisabled:hover {
    background-color: seagreen;
}
.hidden {
    display: none;
}
#playerA, #playerB {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
}